#header {
    background: white;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  /* pushes menu to right */
}

#menu {
    display: flex;
    align-items: center;
}

#headingone {
    text-align: center;
    margin-left: 10px;
}


#services {
    text-align: center;
}

#logo img {
    width: 10%;
    height: 10%;
}

#menu a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* ===== HERO ===== */
#hero {
  position: relative;
}

#hero img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* ===== ABOUT ===== */
#about {
  padding: 40px;
  text-align: center;
}

/* ===== CONTACT ===== */
#contact {
  padding: 40px;
}

#contact input,
#contact textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

#contact button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
}

/* ===== FOOTER ===== */
#footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
}

/* ===== PORTFOLIO ===== */
#portfolio {
  color: white;
  padding: 20px;
  background:#075688 ;
  text-align: center;
  border-radius: 20px;
}

.portfolio-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-card {
  background: whitesmoke;
  width: 220px;
  padding: 8px;
  border-radius: 5px;
}

.portfolio-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.portfolio-card h3 {
  margin: 8px 0 5px;
  color: #292F36;
}

.portfolio-card p {
  font-size: 16px;
  color: #075688;
}
